/* Reset some default styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: margin 0.3s ease;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    transition: margin 0.3s ease;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hero section styles */
.hero {
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.hero-content {
    transform: translateY(20px);
    opacity: 0.25;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.hero-subtitle {
    font-size: 24px;
    transition: color 0.3s ease;
}

/* Section styles */
.section-title {
    padding-top: 100px;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    opacity: 0.25;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 30px;
}

.section-description {
    padding-top: 22px;
    font-size: 18px;
    text-align: center;
    opacity: 0.15;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Footer styles */
.footer {
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-text {
    font-size: 16px;
}

/* Hover and Animation Styles */
.container:hover .hero-content {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.container:hover .section-title,
.container:hover .section-description {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.header:hover,
.header:focus {
    background-color: rgb(29, 29, 29);
    transition: background-color 0.3s ease;
}

.logo:hover,
.logo:focus {
    color: #3498db;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #3498db;
    transition: color 0.3s ease;
}

.hero-title:hover,
.hero-title:focus {
    color: #3498db;
    transition: color 0.3s ease;
}

.hero-subtitle:hover,
.hero-subtitle:focus {
    color: #3498db;
    transition: color 0.3s ease;
}